<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
<div id="app">
<p v-for="(child, index) in childs">
    {{ child }} : {{ index }}
</p>
<p v-for="car in cars">
    {{ car.brand }} : {{ car.color }} </p>

<p v-for="(value,key) in person">
    {{ key }} : {{ value }}
</p>
    
</div>
    
</body>
<script>
    const App={
      data(){
        return{
            childs:[
                'Boy',
                'Andi',
                'Ani',
                'Rio'
            ],

            cars:[
                {
            brand:"Toyota",
            color:"White"      
                },
                {
            brand:"Mazda",
            color:"black"
                },
                {
            brand:"Honda",
            color:"Grey"
                }
            ],
            person:{
                name:'Boy',
                Job:'Developer',
                Age:30
            }
        }
      }  

       
        }
Vue.createApp(App).mount('#app')
</script>
</html>